<!-- Header -->
 	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="{% url 'main' %}">Vegefoods</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item"><a href="{% url 'main' %}" class="nav-link">Home</a></li>
              <li class="nav-item"><a href="{% url 'shop' %}" class="nav-link">Shop</a></li>
	          <li class="nav-item"><a href="{% url 'about_us' %}" class="nav-link">About</a></li>

	          <li class="nav-item">
              	{% if request.user.is_authenticated %}
              		{% if request.user.is_superuser %}
                    	<p class="nav-link sign mb-0"><span class="icon icon-user-secret"></span> {{ request.user.username }}</p>
                    {% else %}
                    	<p class="nav-link sign mb-0"><span class="icon icon-user"></span> {{ request.user.username }}</p>
                   	{% endif %}
              	{% else %}
					<a href="{% url 'sign_in' %}" class="nav-link sign">Sign In</a>
               	{% endif %}
              </li>
	          
	           <li class="nav-item">
				{% if request.user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="nav-link">Logout</a>
                {% else %}
					<a href="{% url 'register' %}" class="nav-link sign">Sign Up</a>
                {% endif %}
	          </li>

			  {% if request.user.is_authenticated %}
	          <li class="nav-item cta cta-colored">
	          	<a href="{% url 'shopping_cart' %}" class="nav-link">
	          		<span class="icon-shopping_cart"></span>[0]
	          	</a>
	          </li>
              {% endif %}
	        </ul>
	      </div>
	    </div>
 	</nav>