{% extends "base.html" %}
{% load static %}

{% block title %}Shop{% endblock %}

{% block content %}
    <main class="mb-3">
		<!--Hero section-->
	    <div class="hero-wrap hero-bread" style="background-image: url('../static/images/bg_1.jpg');">
	      <div class="container">
	        <div class="row no-gutters slider-text align-items-center justify-content-center">
	          <div class="col-md-9 ftco-animate text-center">
	            <h1 class="mb-0 bread">Shop</h1>
	          </div>
	        </div>
	      </div>
	    </div>

		<!--Products section-->
	    <section class="ftco-section">
	    	<div class="container">
				<!-- Toolbar-->
	    		<div class="row justify-content-center">
	    			<div class="col-md-10 mb-5 text-center">
	    				<ul class="product-category">
							{% for category in categories %}
		                        {% if category.0 == current_category %}
		                            <li><a href="?category={{ category.0 }}" class="active">{{ category.1 }}</a></li>
		                        {% else %}
		                            <li><a href="?category={{ category.0 }}">{{ category.1 }}</a></li>
		                        {% endif %}
	                    	{% endfor %}
				            <li class="btn-group">
				                <button class="btn dropdown-toggle text-white" style="background-color: #82AE46" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				                    Sort
				                </button>
				                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				                    {% for sort_order in sort_orders %}
				                        {% if sort_order.0 == current_sort_order %}
				                            <a class="dropdown-item active" href="?orderby={{ sort_order.0 }}">{{ sort_order.1 }}</a>
				                        {% else %}
				                            <a class="dropdown-item" href="?orderby={{ sort_order.0 }}">{{ sort_order.1 }}</a>
				                        {% endif %}
				                    {% endfor %}
				                </div>
				            </li>	    					
	    				</ul>
	    			</div>
	    		</div>
				<!--Products-->
	    		<div class="row">
	    			{% for product_elem in object_list  %}
	    			<div class="col-md-6 col-lg-3 ftco-animate">
	    				<div class="product">
	    					<a href="{{ product_elem.get_absolute_url }}" class="img-prod">
                                <img class="img-fluid" src="{{ product_elem.image.url }}" alt="{{ product_elem.title }}">
                                {% if product_elem.discount %}
                                <span class="status">{{ product_elem.discount }}%</span>
      							{% endif %}
	    						<div class="overlay"></div>
	    					</a>
	    					<div class="text py-3 pb-4 px-3 text-center">
	    						<h3><a href="{{ product_elem.get_absolute_url }}">{{ product_elem.title }}</a></h3>
	    						<div class="d-flex">
	    							<div class="pricing">
			    						<p class="price">
							                {% if product_elem.final_price != product_elem.price %}
			    							<span class="mr-2 price-dc">${{ product_elem.price }}</span>
			    							{% endif %}
			    							<span class="price-sale">${{ product_elem.final_price }}</span>
			    						</p>
			    					</div>
		    					</div>
		    					{% if request.user.is_authenticated %}
		    					<div class="bottom-area d-flex">
		    						<div class="m-auto d-flex">
		    							<a href="{% url 'shopping_cart' %}" class="buy-now d-flex justify-content-center align-items-center">
		    								<span><i class="ion-ios-cart"></i></span>
		    							</a>
	    							</div>
	    						</div>
	    						{% endif %}
	    					</div>
	    				</div>
	    			</div>
	    			{% endfor %}
	    		</div>
	    		<!--Pagination-->
	    		{% if is_paginated %}
	    		<div class="row mt-5">
		          <div class="col text-center">
		            <div class="block-27">
		              <ul>
                        {% if page_obj.has_previous %}
                        	<li>
                        		<a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">&lt;</a>
                        	</li>
                        {% endif %}

                        {% for i in paginator.page_range %}
                            {% if page_obj.number == i %}
                            	<li class="active">
                            		<a href="?page={{ i }}">
                            			<span>{{ i }}</span>
                            		</a>
                            	</li>
                            {% else %}
                                <li>
                                    <a href="?page={{ i }}">
                                        {{ i }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                        	<li>
                        		<a href="?page={{ page_obj.next_page_number }}" aria-label="Next">&gt;</a>
                        	</li>
                        {% endif %}
                   	  </ul>
	            	</div>
	          	  </div>
	          	</div>
            	{% endif %}
	    	</div>
	    </section>
    </main>
{% endblock content %}