{% extends "base.html" %}
{% load shopping_cart_tags %}

{% block title %}Shopping cart{% endblock %}

{% block content %}
	<!--Hero section-->
    <div class="hero-wrap hero-bread" style="background-image: url('../static/images/bg_1.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-0 bread">My Cart</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-cart">
			<div class="container">
				<!--Order table-->
				{% if cart_products %}
				<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="cart-list">
	    				<table class="table">
						    <thead class="thead-primary">
						      <tr class="text-center">
						        <th>&nbsp;</th>
						        <th>&nbsp;</th>
						        <th>Product name</th>
						        <th>Price</th>
						        <th>Quantity</th>
						        <th>Total</th>
						      </tr>
						    </thead>
						    <tbody>
						      {% for product in cart_products %}
						      <tr class="text-center">
						        <td class="product-remove"><a href="{% url 'remove_from_cart' slug=product.order_product.product.slug %}"><span class="ion-ios-close"></span></a></td>
						        
						        <td class="image-prod"><div class="img" style="background-image:url({{ product.order_product.product.image.url }});"></div></td>
						        
						        <td class="product-name">
						        	<h3>{{ product.order_product.product.title }}</h3>
						        </td>
						        
						        <td class="price">${{ product.order_product.product.final_price }}</td>
						        
						        <td class="quantity">
						        	<div class="input-group mb-3">
					             	<input type="text" name="quantity" class="quantity form-control input-number" value="{{ product.order_product.amount }}">
					          	</div>
					          </td>
						        
						        <td class="total">${{ product.subtotal }}</td>
						      </tr>
						      {% endfor %}
						    </tbody>
						  </table>
					  </div>
    			</div>
    		</div>
    		{% endif %}
			<!--Cart totals-->
    		<div class="row justify-content-center">
    			<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
    				<div class="cart-total mb-3">
    					<h3>Cart Totals</h3>
    					<p class="d-flex">
    						<span>Subtotal</span>
    						<span>${{ total }}</span>
    					</p>
    					<p class="d-flex">
    						<span>Discount</span>
    						<span>$0</span>
    					</p>
    					<hr>
    					<p class="d-flex total-price">
    						<span>Total</span>
    						<span>${{ total }}</span>
    					</p>
    				</div>
    				<p><a href="#" class="btn btn-primary py-1 px-3">Proceed to Checkout</a></p>
    			</div>
    		</div>
			</div>
		</section>
{% endblock content %}